html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  border: 3px solid #33ff00;
  margin: auto;
}

body {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid #33ff00;
  margin: auto;
  color: #33ff00;
}

h1 {
  text-align: center;
  margin: 1rem auto;
  font-size: 5rem;
}

/* h2 {
  font-size: 4rem;
  align-items: left;
} */

table {
  display: flex;
  flex-flow: column wrap;
}
form,
table {
  color: #33ff00;
}

section {
  flex-direction: column;
  border: 2px dashed #33ff00;
}

/* class and id modifiers */
/* correct profile{ pic */
#intro {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}
#profile_pic {
  display: flex;
  flex-flow: row wrap;
  align-content: left;
  justify-content: flex-start;
  border-radius: 50%;
  border: 1px dashed #33ff00;
}
#main_title {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-content: center;
  border: 1px dashed #33ff00;
}
#contact_links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

#contact_links #linkedin {
  margin-top: 1rem;
}
#contact_links #email {
  margin-top: 1rem;
}
#contact_links #phone {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#header {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.main_title {
  margin: 2em 2em 0em 2em;
}

.title {
  text-align: left;
  font-size: 3rem;
  border: 1px dashed #33ff00;
  border-top: 3px solid #33ff00;
  margin: 2em 2em 0em 2em;
}

.para {
  display: flex;
  flex-flow: row nowrap;
  border: 1px dotted #33ff00;
  margin: 2em auto 3em auto;
  text-align: left;
  max-width: 70%;
}

.list {
  margin: 2em 2em 0em 2em;
}

.table {
  width: 1500px;
  margin-left: 30px;
  border: 1px dashed #33ff00;
  margin: 0 auto 0 auto;
}

.place {
  text-transform: capitalize;
  display: flex;
  flex-flow: row nowrap;
  margin: 2em 5em 0em 3em;
  border: 1px dotted #33ff00;
  justify-content: space-between;
}

.date {
  text-transform: capitalize;
  display: flex;
  justify-content: right;
  margin: 0 2em 0 0;
  flex-flow: column nowrap;
  align-items: right;
  border: 1px dashed #33ff00;
  font-style: italic;
  font-size: 0.8em;
}

.position {
  display: flex;
  flex-flow: row nowrap;
  border: 1px dotted #33ff00;
  margin: 0.5em 5em 0em 5em;
}

section > h2 {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 2px;
}

td li {
  margin-left: 30px;
}
ul li,
section th {
  font-size: 1.2rem;
}

ul div {
  font-size: 1em;
  margin: 0 4rem;
}

/* class actions on hover and focus */
h1:hover,
h2:hover,
tr:hover,
section div:hover {
  /* table:hover { */
  color: rgb(221, 73, 15);
}

input:focus,
textarea:focus,
select:focus {
  background-color: rgba(0, 212, 255, 0.5);
  outline: 1px solid rgb(252, 255, 46);
}

input:focus::placeholder,
textarea:focus::placeholder,
select:focus::placeholder {
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}

/* single element modifiers */
table,
tr {
  border: 2px solid rgb(0, 0, 0);
  margin: 0;
}

td {
  /* border: 1px solid rgb(0, 0, 0); */
  margin: 0;
  padding: 1px auto;
}

a {
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

img {
  display: inline;
  max-width: 300px;
  border: 4px solid #33ff00;
}

p {
  font-size: 1rem;
  width: 100%;
  min-width: 500px;
  margin: 2em 2em 0em 1em;
}

button,
input {
  border: 1px solid;
  padding: 0.3em;
  margin: 0.2em 0.3em;
}

p::first-letter,
li::first-letter,
div::first-letter {
  text-transform: capitalize;
}

h1,
a,
th,
td {
  text-transform: capitalize;
}
